*{
    background-color: rgb(45, 41, 41);
    margin: 0px;
    padding: 0px;
}
.movie{
    border: 2px solid white;
    height: 400px;
    width: 1500px;
    margin-top: 20px;
    margin-left: 15px;
}